/* import font fam */
*{
  font-family: ;
  margin: 0;
  padding: 0;
  outline: none;
  
}
body {
  
  background: url('./Images/163-1639542_nature-water-sea-ocean-beach-sunrise-rocks-seashore.jpg') no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
label {
  display: none;
}

.hidden{
  display: none;
}


.title {
  text-align: left;
  color: black;
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  height: 150px;
  margin-bottom: 0 ;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rating Stuff */
.rating-selection{
  position: relative;
  font-family:'Russo One', sans-serif; 
}
 #newBookmarkRating {
  background-color:rgb(255,255,255);
}
.select-selected{
  background-color:rgb(96 , 96  , 96);;
}

/* Buttons */
.btn {
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  background-color:rgb(96 , 96  , 96);
  color: rgb(255,255,255);
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
}

.addNew {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background:#39b7dd;
  color:#fff;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
}
.filter{
  font-size: 15px;
  background-color:rgb(96,96,96);
  padding: 15px;
  margin:20px;
  color: rgb(255,255,255);
}

.filter select{
  color: rgb(96,96,96);
}

/* Form Styles */
.addFormArea {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  /* padding: 0 20px; */
}
.addedBookmarkForm {
  display: flex;
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}
.input-fields {
  display: flex;
  flex-direction:column;
  margin-right: 4%;
}
.input {
  margin: 10px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  width: 50%;
  color: #c5ecfd;
}
.input #bookmarkDescription {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #c5ecfd;
}

.formButtons {
  display: flex;
  justify-content: left;
  align-items: left;
}
.confirmAdd {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background:#39b7dd;
  color:#fff;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  border: 0;
  margin:5px;
}

.cancelEntry {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background:#39b7dd;
  color:#fff;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  border: 0;
}

/* Added Bookmark Styles */


.displayBookmarks {
  /* display:flex;
  flex-direction:column;
  justify-content:left; */
  border: 2px solid yellow;
}

.mymarks {
  border: 2px solid red;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-size: 26px;
  /* width: 100%; */
}

.displaymarks {
  border: 2px solid blue;
  margin-bottom: 0 auto;
}


ul.bookmarkContent {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: solid black;
  background-color:rgb(255,255,255);
  width: 100%;
  list-style-type: none;
  padding:0;
  width: auto;
  height: auto;
}

bookmarkContent li {
  display: flex;
  background-color:rgb(255,255,255);
  font-size: 20px;
  text-align: left;
  text-decoration: underline black;
 
}

.deletebutton {
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  background-color:rgb(96 , 96  , 96);
  color: rgb(255,255,255);
  cursor: pointer;
  text-transform: uppercase;
}
.expand {
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  background-color:rgb(96 , 96  , 96);
  color: rgb(255,255,255);
  cursor: pointer;
  text-transform: uppercase;
}



@media screen and (max-width: 600px ) {
  
  .addedBookmarkForm {
    flex-direction: column;
    padding: 15px;
    width: 60%;
  }
  .addFormArea {
    width: 100%;
    overflow: hidden;
    
  }
  .input {
    width: 80%;
  }
  .confirmAdd {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background:#39b7dd;
    color:#fff;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    border: 0;
  }
  .cancelEntry {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background:#39b7dd;
    color:#fff;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    border: 0;
  }
  .filtersec {
    align-items:center;
    margin-bottom:25px;
    font-size:15px;
  }
  
  div.container{
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
    margin-top:35px;
  }
  .addNew {
    display:flex;
    font-size:10px;
    margin:10px;
    padding-top:5;
  }
  .filter{
    display:flex;
    font-size:10px;
    margin:10px;
    padding:5;
  }
  main.displaymarks{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-left: 30px;
  }
  
  .displayBookmarks {
    display:inline-flex;
    flex-direction:column;
    justify-content:center;
  }
  /* ul.bookmarkContent{
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-bottom: 25px;
    list-style-type: none;
    padding:auto;
    width: auto;
    height: auto;
  }
  bookmarkContent,li{
    display: inline-flex;
    background-color:rgb(255,255,255);
    font-size: 15px;
    padding: 10px;
    margin-right: auto;
    text-align: left;
   
  } */
  button.deletebutton{
    padding: 5px;
    font-size: 10px;
    background-color:rgb(96 , 96  , 96);
    color: rgb(255,255,255)
  }
  button.expand{
    padding:5px;
    font-size: 10px;
    background-color:rgb(96 , 96  , 96);
    justify-content: flex-end;
    color: rgb(255,255,255);
  }
}