* {
  font-family:'Russo One', sans-serif;
  background-color: skyblue;
  box-sizing: border-box;
  border-radius: 3px;
}

.header, h1 {
  text-align: center;
  padding: 10px;
  color: black;
  font-family: 'Russo One', sans-serif;
}

.header{
  display:inline-block ;
}

.addedBookmarkForm {
  display: flex;
  width: 80%;
  flex-direction: column;
  border: 3px lightskyblue;
  padding: 50px;
}

.addedBookmarkForm input{
  background-color: lightgray;
}

bookmarkContent,li{
  background:lightgray;
  
}

.hidden{
  display: none;
}

.addFormArea {
  justify-content: center;  
  display: none;
}

.displayBookmarks{
  align-content: left;
}

div.bookmarkContent{
  align-content: left;

}

ul {
  list-style-type: none;
  align-content: left;
  background:lightgray;
}


