* {
  background-color: lightblue;;
  box-sizing: border-box;
  align-content: center;
}

.header, h1 {
  text-align: center;
  padding: 10px;
  color: salmon;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.addedBookmarkForm {
  display: flex;
  width: 80%;
  flex-direction: column;
  border: 2px lightskyblue;
  background-color: lightsalmon;
  align-content: center;
}

bookmarkContent,li{
  background: chartreuse;
}

.addFormArea {
  justify-content: center;  
  display: none;
}
.expandedFormArea{
  
}

.displayBookmarks{
  
  align-content: left;
}

div.bookmarkContent{
  align-content: left;

}

ul {
  list-style-type: none;

  align-content: left;
}
