* {
  background-color: lightblue;;
  box-sizing: border-box;
  align-content: center;
}

.header, h1 {
  text-align: center;
  padding: 10px;
  color: salmon;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.addedBookmarkForm {
  display: flex;
  width: 80%;
  flex-direction: column;
  border: 2px lightskyblue;
  background-color: lightsalmon;
  align-content: center;
}

.header, div {
  text-align: center;
}

.addFormArea {
  justify-content: center;  
  display: none;
}

.panel{
  display: none;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

li{
}
